<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.persistence.dao.BsmCompanySupplierMapper" >
  <resultMap id="BaseResultMap" type="com.demo.model.BsmCompanySupplier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_level" property="supplierLevel" jdbcType="VARCHAR" />
    <result column="supplier_score" property="supplierScore" jdbcType="DOUBLE" />
    <result column="supplier_evaluate_date" property="supplierEvaluateDate" jdbcType="TIMESTAMP" />
    <result column="supplier_status" property="supplierStatus" jdbcType="TINYINT" />
    <result column="supplier_region_code" property="supplierRegionCode" jdbcType="VARCHAR" />
    <result column="supplier_region" property="supplierRegion" jdbcType="VARCHAR" />
    <result column="supplier_industry_code" property="supplierIndustryCode" jdbcType="VARCHAR" />
    <result column="supplier_industry" property="supplierIndustry" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="contact_info" property="contactInfo" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="space_address_url" property="spaceAddressUrl" jdbcType="VARCHAR" />
    <result column="blacklist_operator" property="blacklistOperator" jdbcType="VARCHAR" />
    <result column="blacklist_reason" property="blacklistReason" jdbcType="VARCHAR" />
    <result column="submit_approve_user_id" property="submitApproveUserId" jdbcType="BIGINT" />
    <result column="submit_approve_user_name" property="submitApproveUserName" jdbcType="VARCHAR" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
    <result column="main_user_name" property="mainUserName" jdbcType="VARCHAR" />
    <result column="main_user_id" property="mainUserId" jdbcType="BIGINT" />
    <result column="main_user_mobile" property="mainUserMobile" jdbcType="VARCHAR" />
    <result column="name_english" property="nameEnglish" jdbcType="VARCHAR" />
    <result column="com_typestr" property="comTypestr" jdbcType="VARCHAR" />
    <result column="commu_addr" property="commuAddr" jdbcType="VARCHAR" />
    <result column="boss_name" property="bossName" jdbcType="VARCHAR" />
    <result column="fund" property="fund" jdbcType="DOUBLE" />
    <result column="fundunit_value" property="fundunitValue" jdbcType="VARCHAR" />
    <result column="www_station" property="wwwStation" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="super_supplier" property="superSupplier" jdbcType="TINYINT" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="supplier_remark" property="supplierRemark" jdbcType="VARCHAR" />
    <result column="remove_instance_id" property="removeInstanceId" jdbcType="BIGINT" />
    <result column="credit_verification" property="creditVerification" jdbcType="VARCHAR" />
    <result column="business_model" property="businessModel" jdbcType="VARCHAR" />
    <result column="is_kernel" property="isKernel" jdbcType="TINYINT" />
    <result column="probation_end_time" property="probationEndTime" jdbcType="TIMESTAMP" />
    <result column="catalog_change_instance_id" property="catalogChangeInstanceId" jdbcType="BIGINT" />
    <result column="catalog_change_status" property="catalogChangeStatus" jdbcType="TINYINT" />
    <result column="custom_def_id" property="customDefId" jdbcType="BIGINT" />
    <result column="release_instance_id" property="releaseInstanceId" jdbcType="BIGINT" />
    <result column="release_reason" property="releaseReason" jdbcType="VARCHAR" />
    <result column="release_user_id" property="releaseUserId" jdbcType="BIGINT" />
    <result column="release_user_name" property="releaseUserName" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="supplier_tax_num" property="supplierTaxNum" jdbcType="VARCHAR" />
    <result column="supplier_trade_evaluation" property="supplierTradeEvaluation" jdbcType="TINYINT" />
    <result column="report_supplier_level" property="reportSupplierLevel" jdbcType="VARCHAR" />
    <result column="bsm_evaluation_id" property="bsmEvaluationId" jdbcType="BIGINT" />
    <result column="last_evaluation_time" property="lastEvaluationTime" jdbcType="TIMESTAMP" />
    <result column="remove_time" property="removeTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapNew" type="com.demo.model.BsmCompanySupplier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_level" property="supplierLevel" jdbcType="VARCHAR" />
    <result column="supplier_score" property="supplierScore" jdbcType="DOUBLE" />
    <result column="supplier_evaluate_date" property="supplierEvaluateDate" jdbcType="TIMESTAMP" />
    <result column="supplier_status" property="supplierStatus" jdbcType="TINYINT" />
    <result column="supplier_region_code" property="supplierRegionCode" jdbcType="VARCHAR" />
    <result column="supplier_region" property="supplierRegion" jdbcType="VARCHAR" />
    <result column="supplier_industry_code" property="supplierIndustryCode" jdbcType="VARCHAR" />
    <result column="supplier_industry" property="supplierIndustry" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="contact_info" property="contactInfo" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="space_address_url" property="spaceAddressUrl" jdbcType="VARCHAR" />
    <result column="blacklist_operator" property="blacklistOperator" jdbcType="VARCHAR" />
    <result column="blacklist_reason" property="blacklistReason" jdbcType="VARCHAR" />
    <result column="submit_approve_user_id" property="submitApproveUserId" jdbcType="BIGINT" />
    <result column="submit_approve_user_name" property="submitApproveUserName" jdbcType="VARCHAR" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
    <result column="main_user_name" property="mainUserName" jdbcType="VARCHAR" />
    <result column="main_user_id" property="mainUserId" jdbcType="BIGINT" />
    <result column="main_user_mobile" property="mainUserMobile" jdbcType="VARCHAR" />
    <result column="name_english" property="nameEnglish" jdbcType="VARCHAR" />
    <result column="com_typestr" property="comTypestr" jdbcType="VARCHAR" />
    <result column="commu_addr" property="commuAddr" jdbcType="VARCHAR" />
    <result column="boss_name" property="bossName" jdbcType="VARCHAR" />
    <result column="fund" property="fund" jdbcType="DOUBLE" />
    <result column="fundunit_value" property="fundunitValue" jdbcType="VARCHAR" />
    <result column="www_station" property="wwwStation" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="super_supplier" property="superSupplier" jdbcType="TINYINT" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="supplier_remark" property="supplierRemark" jdbcType="VARCHAR" />
    <result column="remove_instance_id" property="removeInstanceId" jdbcType="BIGINT" />
    <result column="credit_verification" property="creditVerification" jdbcType="VARCHAR" />
    <result column="business_model" property="businessModel" jdbcType="VARCHAR" />
    <result column="is_kernel" property="isKernel" jdbcType="TINYINT" />
    <result column="probation_end_time" property="probationEndTime" jdbcType="TIMESTAMP" />
    <result column="catalog_change_instance_id" property="catalogChangeInstanceId" jdbcType="BIGINT" />
    <result column="catalog_change_status" property="catalogChangeStatus" jdbcType="TINYINT" />
    <result column="custom_def_id" property="customDefId" jdbcType="BIGINT" />
    <result column="release_instance_id" property="releaseInstanceId" jdbcType="BIGINT" />
    <result column="release_reason" property="releaseReason" jdbcType="VARCHAR" />
    <result column="release_user_id" property="releaseUserId" jdbcType="BIGINT" />
    <result column="release_user_name" property="releaseUserName" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="supplier_tax_num" property="supplierTaxNum" jdbcType="VARCHAR" />
    <result column="supplier_trade_evaluation" property="supplierTradeEvaluation" jdbcType="TINYINT" />
    <result column="report_supplier_level" property="reportSupplierLevel" jdbcType="VARCHAR" />
    <result column="bsm_evaluation_id" property="bsmEvaluationId" jdbcType="BIGINT" />
    <result column="last_evaluation_time" property="lastEvaluationTime" jdbcType="TIMESTAMP" />
    <result column="remove_time" property="removeTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="responseTime" property="responseTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, company_id, company_name, supplier_id, supplier_name, supplier_level, supplier_score, 
    supplier_evaluate_date, supplier_status, supplier_region_code, supplier_region, supplier_industry_code, 
    supplier_industry, linkman, contact_info, fax, mail, space_address_url, blacklist_operator, 
    blacklist_reason, submit_approve_user_id, submit_approve_user_name, reserve, main_user_name, 
    main_user_id, main_user_mobile, name_english, com_typestr, commu_addr, boss_name, 
    fund, fundunit_value, www_station, supplier_code, super_supplier, classification, 
    supplier_remark, remove_instance_id, credit_verification, business_model, is_kernel, 
    probation_end_time, catalog_change_instance_id, catalog_change_status, custom_def_id, 
    release_instance_id, release_reason, release_user_id, release_user_name, release_time, 
    supplier_tax_num, supplier_trade_evaluation, report_supplier_level, bsm_evaluation_id, 
    last_evaluation_time, remove_time, create_user_id, create_user_name, create_time, 
    update_user_id, update_user_name, update_time
  </sql>
  <sql id="Base_Column_List_new" >
    bcs.id, bcs.company_id, bcs.company_name, bcs.supplier_id, bcs.supplier_name, bcs.supplier_level, bcs.supplier_score,
    bcs.supplier_evaluate_date, bcs.supplier_status, bcs.supplier_region_code, bcs.supplier_region, bcs.supplier_industry_code,
    bcs.supplier_industry, bcs.linkman, bcs.contact_info, bcs.fax, bcs.mail, bcs.space_address_url, bcs.blacklist_operator,
    bcs.blacklist_reason, bcs.submit_approve_user_id, bcs.submit_approve_user_name, bcs.reserve, bcs.main_user_name,
    bcs.main_user_id, bcs.main_user_mobile, bcs.name_english, bcs.com_typestr, bcs.commu_addr, bcs.boss_name,
    bcs.fund, bcs.fundunit_value, bcs.www_station, bcs.supplier_code, bcs.super_supplier, bcs.classification,
    bcs.supplier_remark, bcs.remove_instance_id, bcs.credit_verification, bcs.business_model, bcs.is_kernel,
    bcs.probation_end_time, bcs.catalog_change_instance_id, bcs.catalog_change_status, bcs.custom_def_id,
    bcs.release_instance_id, bcs.release_reason, bcs.release_user_id, bcs.release_user_name, bcs.release_time,
    bcs.supplier_tax_num, bcs.supplier_trade_evaluation, bcs.report_supplier_level, bcs.bsm_evaluation_id,
    bcs.last_evaluation_time, bcs.remove_time, bcs.create_user_id, bcs.create_user_name, bcs.create_time,
    bcs.update_user_id, bcs.update_user_name, bcs.update_time , bcsa.responseTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.demo.model.BsmCompanySupplierKey" >
    select 
    <include refid="Base_Column_List" />
    from bsm_company_supplier
    where id = #{id,jdbcType=BIGINT}
      and company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <select id="getCooperateSupplier" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bsm_company_supplier
    where  company_id = #{companyId,jdbcType=BIGINT}
    and supplier_status IN ( 1, 4, 5, 6, 7, 8, 9 )
  </select>
  <select id="getSupplierInfo" resultMap="BaseResultMapNew">
    select
    <include refid="Base_Column_List_new" />
    from bsm_company_supplier bcs
    left join bsm_company_supplier_apply bcsa on bcs.company_id = bcsa.company_id and bcs.supplier_id = bcsa.supplier_id
    where  bcs.company_id = #{companyId,jdbcType=BIGINT}
    and bcs.supplier_id = #{supplierId,jdbcType=BIGINT}
    limit 1
  </select>
  <select id="getSupplierInfoList" resultMap="BaseResultMapNew">
    select
    <include refid="Base_Column_List_new" />
    from bsm_company_supplier bcs
    left join bsm_company_supplier_apply bcsa on bcs.company_id = bcsa.company_id and bcs.supplier_id = bcsa.supplier_id
    where  bcs.company_id = #{companyId,jdbcType=BIGINT}
    and bcs.supplier_id in
    <foreach collection="supplierIds" index="index" item="supplierId" open="(" separator="," close=")">
       #{supplierId}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.demo.model.BsmCompanySupplierKey" >
    delete from bsm_company_supplier
    where id = #{id,jdbcType=BIGINT}
      and company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.model.BsmCompanySupplier" >
    insert into bsm_company_supplier (id, company_id, company_name, 
      supplier_id, supplier_name, supplier_level, 
      supplier_score, supplier_evaluate_date, supplier_status, 
      supplier_region_code, supplier_region, supplier_industry_code, 
      supplier_industry, linkman, contact_info, 
      fax, mail, space_address_url, 
      blacklist_operator, blacklist_reason, submit_approve_user_id, 
      submit_approve_user_name, reserve, main_user_name, 
      main_user_id, main_user_mobile, name_english, 
      com_typestr, commu_addr, boss_name, 
      fund, fundunit_value, www_station, 
      supplier_code, super_supplier, classification, 
      supplier_remark, remove_instance_id, credit_verification, 
      business_model, is_kernel, probation_end_time, 
      catalog_change_instance_id, catalog_change_status, 
      custom_def_id, release_instance_id, release_reason, 
      release_user_id, release_user_name, release_time, 
      supplier_tax_num, supplier_trade_evaluation, 
      report_supplier_level, bsm_evaluation_id, last_evaluation_time, 
      remove_time, create_user_id, create_user_name, 
      create_time, update_user_id, update_user_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=BIGINT}, #{supplierName,jdbcType=VARCHAR}, #{supplierLevel,jdbcType=VARCHAR}, 
      #{supplierScore,jdbcType=DOUBLE}, #{supplierEvaluateDate,jdbcType=TIMESTAMP}, #{supplierStatus,jdbcType=TINYINT}, 
      #{supplierRegionCode,jdbcType=VARCHAR}, #{supplierRegion,jdbcType=VARCHAR}, #{supplierIndustryCode,jdbcType=VARCHAR}, 
      #{supplierIndustry,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{contactInfo,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{spaceAddressUrl,jdbcType=VARCHAR}, 
      #{blacklistOperator,jdbcType=VARCHAR}, #{blacklistReason,jdbcType=VARCHAR}, #{submitApproveUserId,jdbcType=BIGINT}, 
      #{submitApproveUserName,jdbcType=VARCHAR}, #{reserve,jdbcType=VARCHAR}, #{mainUserName,jdbcType=VARCHAR}, 
      #{mainUserId,jdbcType=BIGINT}, #{mainUserMobile,jdbcType=VARCHAR}, #{nameEnglish,jdbcType=VARCHAR}, 
      #{comTypestr,jdbcType=VARCHAR}, #{commuAddr,jdbcType=VARCHAR}, #{bossName,jdbcType=VARCHAR}, 
      #{fund,jdbcType=DOUBLE}, #{fundunitValue,jdbcType=VARCHAR}, #{wwwStation,jdbcType=VARCHAR}, 
      #{supplierCode,jdbcType=VARCHAR}, #{superSupplier,jdbcType=TINYINT}, #{classification,jdbcType=VARCHAR}, 
      #{supplierRemark,jdbcType=VARCHAR}, #{removeInstanceId,jdbcType=BIGINT}, #{creditVerification,jdbcType=VARCHAR}, 
      #{businessModel,jdbcType=VARCHAR}, #{isKernel,jdbcType=TINYINT}, #{probationEndTime,jdbcType=TIMESTAMP}, 
      #{catalogChangeInstanceId,jdbcType=BIGINT}, #{catalogChangeStatus,jdbcType=TINYINT}, 
      #{customDefId,jdbcType=BIGINT}, #{releaseInstanceId,jdbcType=BIGINT}, #{releaseReason,jdbcType=VARCHAR}, 
      #{releaseUserId,jdbcType=BIGINT}, #{releaseUserName,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{supplierTaxNum,jdbcType=VARCHAR}, #{supplierTradeEvaluation,jdbcType=TINYINT}, 
      #{reportSupplierLevel,jdbcType=VARCHAR}, #{bsmEvaluationId,jdbcType=BIGINT}, #{lastEvaluationTime,jdbcType=TIMESTAMP}, 
      #{removeTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{updateUserName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.BsmCompanySupplier" >
    insert into bsm_company_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierLevel != null" >
        supplier_level,
      </if>
      <if test="supplierScore != null" >
        supplier_score,
      </if>
      <if test="supplierEvaluateDate != null" >
        supplier_evaluate_date,
      </if>
      <if test="supplierStatus != null" >
        supplier_status,
      </if>
      <if test="supplierRegionCode != null" >
        supplier_region_code,
      </if>
      <if test="supplierRegion != null" >
        supplier_region,
      </if>
      <if test="supplierIndustryCode != null" >
        supplier_industry_code,
      </if>
      <if test="supplierIndustry != null" >
        supplier_industry,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="contactInfo != null" >
        contact_info,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="spaceAddressUrl != null" >
        space_address_url,
      </if>
      <if test="blacklistOperator != null" >
        blacklist_operator,
      </if>
      <if test="blacklistReason != null" >
        blacklist_reason,
      </if>
      <if test="submitApproveUserId != null" >
        submit_approve_user_id,
      </if>
      <if test="submitApproveUserName != null" >
        submit_approve_user_name,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
      <if test="mainUserName != null" >
        main_user_name,
      </if>
      <if test="mainUserId != null" >
        main_user_id,
      </if>
      <if test="mainUserMobile != null" >
        main_user_mobile,
      </if>
      <if test="nameEnglish != null" >
        name_english,
      </if>
      <if test="comTypestr != null" >
        com_typestr,
      </if>
      <if test="commuAddr != null" >
        commu_addr,
      </if>
      <if test="bossName != null" >
        boss_name,
      </if>
      <if test="fund != null" >
        fund,
      </if>
      <if test="fundunitValue != null" >
        fundunit_value,
      </if>
      <if test="wwwStation != null" >
        www_station,
      </if>
      <if test="supplierCode != null" >
        supplier_code,
      </if>
      <if test="superSupplier != null" >
        super_supplier,
      </if>
      <if test="classification != null" >
        classification,
      </if>
      <if test="supplierRemark != null" >
        supplier_remark,
      </if>
      <if test="removeInstanceId != null" >
        remove_instance_id,
      </if>
      <if test="creditVerification != null" >
        credit_verification,
      </if>
      <if test="businessModel != null" >
        business_model,
      </if>
      <if test="isKernel != null" >
        is_kernel,
      </if>
      <if test="probationEndTime != null" >
        probation_end_time,
      </if>
      <if test="catalogChangeInstanceId != null" >
        catalog_change_instance_id,
      </if>
      <if test="catalogChangeStatus != null" >
        catalog_change_status,
      </if>
      <if test="customDefId != null" >
        custom_def_id,
      </if>
      <if test="releaseInstanceId != null" >
        release_instance_id,
      </if>
      <if test="releaseReason != null" >
        release_reason,
      </if>
      <if test="releaseUserId != null" >
        release_user_id,
      </if>
      <if test="releaseUserName != null" >
        release_user_name,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="supplierTaxNum != null" >
        supplier_tax_num,
      </if>
      <if test="supplierTradeEvaluation != null" >
        supplier_trade_evaluation,
      </if>
      <if test="reportSupplierLevel != null" >
        report_supplier_level,
      </if>
      <if test="bsmEvaluationId != null" >
        bsm_evaluation_id,
      </if>
      <if test="lastEvaluationTime != null" >
        last_evaluation_time,
      </if>
      <if test="removeTime != null" >
        remove_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierLevel != null" >
        #{supplierLevel,jdbcType=VARCHAR},
      </if>
      <if test="supplierScore != null" >
        #{supplierScore,jdbcType=DOUBLE},
      </if>
      <if test="supplierEvaluateDate != null" >
        #{supplierEvaluateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierStatus != null" >
        #{supplierStatus,jdbcType=TINYINT},
      </if>
      <if test="supplierRegionCode != null" >
        #{supplierRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierRegion != null" >
        #{supplierRegion,jdbcType=VARCHAR},
      </if>
      <if test="supplierIndustryCode != null" >
        #{supplierIndustryCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierIndustry != null" >
        #{supplierIndustry,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="spaceAddressUrl != null" >
        #{spaceAddressUrl,jdbcType=VARCHAR},
      </if>
      <if test="blacklistOperator != null" >
        #{blacklistOperator,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="submitApproveUserId != null" >
        #{submitApproveUserId,jdbcType=BIGINT},
      </if>
      <if test="submitApproveUserName != null" >
        #{submitApproveUserName,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="mainUserName != null" >
        #{mainUserName,jdbcType=VARCHAR},
      </if>
      <if test="mainUserId != null" >
        #{mainUserId,jdbcType=BIGINT},
      </if>
      <if test="mainUserMobile != null" >
        #{mainUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="nameEnglish != null" >
        #{nameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="comTypestr != null" >
        #{comTypestr,jdbcType=VARCHAR},
      </if>
      <if test="commuAddr != null" >
        #{commuAddr,jdbcType=VARCHAR},
      </if>
      <if test="bossName != null" >
        #{bossName,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        #{fund,jdbcType=DOUBLE},
      </if>
      <if test="fundunitValue != null" >
        #{fundunitValue,jdbcType=VARCHAR},
      </if>
      <if test="wwwStation != null" >
        #{wwwStation,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="superSupplier != null" >
        #{superSupplier,jdbcType=TINYINT},
      </if>
      <if test="classification != null" >
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null" >
        #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="removeInstanceId != null" >
        #{removeInstanceId,jdbcType=BIGINT},
      </if>
      <if test="creditVerification != null" >
        #{creditVerification,jdbcType=VARCHAR},
      </if>
      <if test="businessModel != null" >
        #{businessModel,jdbcType=VARCHAR},
      </if>
      <if test="isKernel != null" >
        #{isKernel,jdbcType=TINYINT},
      </if>
      <if test="probationEndTime != null" >
        #{probationEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="catalogChangeInstanceId != null" >
        #{catalogChangeInstanceId,jdbcType=BIGINT},
      </if>
      <if test="catalogChangeStatus != null" >
        #{catalogChangeStatus,jdbcType=TINYINT},
      </if>
      <if test="customDefId != null" >
        #{customDefId,jdbcType=BIGINT},
      </if>
      <if test="releaseInstanceId != null" >
        #{releaseInstanceId,jdbcType=BIGINT},
      </if>
      <if test="releaseReason != null" >
        #{releaseReason,jdbcType=VARCHAR},
      </if>
      <if test="releaseUserId != null" >
        #{releaseUserId,jdbcType=BIGINT},
      </if>
      <if test="releaseUserName != null" >
        #{releaseUserName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierTaxNum != null" >
        #{supplierTaxNum,jdbcType=VARCHAR},
      </if>
      <if test="supplierTradeEvaluation != null" >
        #{supplierTradeEvaluation,jdbcType=TINYINT},
      </if>
      <if test="reportSupplierLevel != null" >
        #{reportSupplierLevel,jdbcType=VARCHAR},
      </if>
      <if test="bsmEvaluationId != null" >
        #{bsmEvaluationId,jdbcType=BIGINT},
      </if>
      <if test="lastEvaluationTime != null" >
        #{lastEvaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTime != null" >
        #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.BsmCompanySupplier" >
    update bsm_company_supplier
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierLevel != null" >
        supplier_level = #{supplierLevel,jdbcType=VARCHAR},
      </if>
      <if test="supplierScore != null" >
        supplier_score = #{supplierScore,jdbcType=DOUBLE},
      </if>
      <if test="supplierEvaluateDate != null" >
        supplier_evaluate_date = #{supplierEvaluateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierStatus != null" >
        supplier_status = #{supplierStatus,jdbcType=TINYINT},
      </if>
      <if test="supplierRegionCode != null" >
        supplier_region_code = #{supplierRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierRegion != null" >
        supplier_region = #{supplierRegion,jdbcType=VARCHAR},
      </if>
      <if test="supplierIndustryCode != null" >
        supplier_industry_code = #{supplierIndustryCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierIndustry != null" >
        supplier_industry = #{supplierIndustry,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        contact_info = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="spaceAddressUrl != null" >
        space_address_url = #{spaceAddressUrl,jdbcType=VARCHAR},
      </if>
      <if test="blacklistOperator != null" >
        blacklist_operator = #{blacklistOperator,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        blacklist_reason = #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="submitApproveUserId != null" >
        submit_approve_user_id = #{submitApproveUserId,jdbcType=BIGINT},
      </if>
      <if test="submitApproveUserName != null" >
        submit_approve_user_name = #{submitApproveUserName,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="mainUserName != null" >
        main_user_name = #{mainUserName,jdbcType=VARCHAR},
      </if>
      <if test="mainUserId != null" >
        main_user_id = #{mainUserId,jdbcType=BIGINT},
      </if>
      <if test="mainUserMobile != null" >
        main_user_mobile = #{mainUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="nameEnglish != null" >
        name_english = #{nameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="comTypestr != null" >
        com_typestr = #{comTypestr,jdbcType=VARCHAR},
      </if>
      <if test="commuAddr != null" >
        commu_addr = #{commuAddr,jdbcType=VARCHAR},
      </if>
      <if test="bossName != null" >
        boss_name = #{bossName,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        fund = #{fund,jdbcType=DOUBLE},
      </if>
      <if test="fundunitValue != null" >
        fundunit_value = #{fundunitValue,jdbcType=VARCHAR},
      </if>
      <if test="wwwStation != null" >
        www_station = #{wwwStation,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="superSupplier != null" >
        super_supplier = #{superSupplier,jdbcType=TINYINT},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null" >
        supplier_remark = #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="removeInstanceId != null" >
        remove_instance_id = #{removeInstanceId,jdbcType=BIGINT},
      </if>
      <if test="creditVerification != null" >
        credit_verification = #{creditVerification,jdbcType=VARCHAR},
      </if>
      <if test="businessModel != null" >
        business_model = #{businessModel,jdbcType=VARCHAR},
      </if>
      <if test="isKernel != null" >
        is_kernel = #{isKernel,jdbcType=TINYINT},
      </if>
      <if test="probationEndTime != null" >
        probation_end_time = #{probationEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="catalogChangeInstanceId != null" >
        catalog_change_instance_id = #{catalogChangeInstanceId,jdbcType=BIGINT},
      </if>
      <if test="catalogChangeStatus != null" >
        catalog_change_status = #{catalogChangeStatus,jdbcType=TINYINT},
      </if>
      <if test="customDefId != null" >
        custom_def_id = #{customDefId,jdbcType=BIGINT},
      </if>
      <if test="releaseInstanceId != null" >
        release_instance_id = #{releaseInstanceId,jdbcType=BIGINT},
      </if>
      <if test="releaseReason != null" >
        release_reason = #{releaseReason,jdbcType=VARCHAR},
      </if>
      <if test="releaseUserId != null" >
        release_user_id = #{releaseUserId,jdbcType=BIGINT},
      </if>
      <if test="releaseUserName != null" >
        release_user_name = #{releaseUserName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierTaxNum != null" >
        supplier_tax_num = #{supplierTaxNum,jdbcType=VARCHAR},
      </if>
      <if test="supplierTradeEvaluation != null" >
        supplier_trade_evaluation = #{supplierTradeEvaluation,jdbcType=TINYINT},
      </if>
      <if test="reportSupplierLevel != null" >
        report_supplier_level = #{reportSupplierLevel,jdbcType=VARCHAR},
      </if>
      <if test="bsmEvaluationId != null" >
        bsm_evaluation_id = #{bsmEvaluationId,jdbcType=BIGINT},
      </if>
      <if test="lastEvaluationTime != null" >
        last_evaluation_time = #{lastEvaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTime != null" >
        remove_time = #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.BsmCompanySupplier" >
    update bsm_company_supplier
    set company_name = #{companyName,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_level = #{supplierLevel,jdbcType=VARCHAR},
      supplier_score = #{supplierScore,jdbcType=DOUBLE},
      supplier_evaluate_date = #{supplierEvaluateDate,jdbcType=TIMESTAMP},
      supplier_status = #{supplierStatus,jdbcType=TINYINT},
      supplier_region_code = #{supplierRegionCode,jdbcType=VARCHAR},
      supplier_region = #{supplierRegion,jdbcType=VARCHAR},
      supplier_industry_code = #{supplierIndustryCode,jdbcType=VARCHAR},
      supplier_industry = #{supplierIndustry,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      contact_info = #{contactInfo,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      space_address_url = #{spaceAddressUrl,jdbcType=VARCHAR},
      blacklist_operator = #{blacklistOperator,jdbcType=VARCHAR},
      blacklist_reason = #{blacklistReason,jdbcType=VARCHAR},
      submit_approve_user_id = #{submitApproveUserId,jdbcType=BIGINT},
      submit_approve_user_name = #{submitApproveUserName,jdbcType=VARCHAR},
      reserve = #{reserve,jdbcType=VARCHAR},
      main_user_name = #{mainUserName,jdbcType=VARCHAR},
      main_user_id = #{mainUserId,jdbcType=BIGINT},
      main_user_mobile = #{mainUserMobile,jdbcType=VARCHAR},
      name_english = #{nameEnglish,jdbcType=VARCHAR},
      com_typestr = #{comTypestr,jdbcType=VARCHAR},
      commu_addr = #{commuAddr,jdbcType=VARCHAR},
      boss_name = #{bossName,jdbcType=VARCHAR},
      fund = #{fund,jdbcType=DOUBLE},
      fundunit_value = #{fundunitValue,jdbcType=VARCHAR},
      www_station = #{wwwStation,jdbcType=VARCHAR},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      super_supplier = #{superSupplier,jdbcType=TINYINT},
      classification = #{classification,jdbcType=VARCHAR},
      supplier_remark = #{supplierRemark,jdbcType=VARCHAR},
      remove_instance_id = #{removeInstanceId,jdbcType=BIGINT},
      credit_verification = #{creditVerification,jdbcType=VARCHAR},
      business_model = #{businessModel,jdbcType=VARCHAR},
      is_kernel = #{isKernel,jdbcType=TINYINT},
      probation_end_time = #{probationEndTime,jdbcType=TIMESTAMP},
      catalog_change_instance_id = #{catalogChangeInstanceId,jdbcType=BIGINT},
      catalog_change_status = #{catalogChangeStatus,jdbcType=TINYINT},
      custom_def_id = #{customDefId,jdbcType=BIGINT},
      release_instance_id = #{releaseInstanceId,jdbcType=BIGINT},
      release_reason = #{releaseReason,jdbcType=VARCHAR},
      release_user_id = #{releaseUserId,jdbcType=BIGINT},
      release_user_name = #{releaseUserName,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      supplier_tax_num = #{supplierTaxNum,jdbcType=VARCHAR},
      supplier_trade_evaluation = #{supplierTradeEvaluation,jdbcType=TINYINT},
      report_supplier_level = #{reportSupplierLevel,jdbcType=VARCHAR},
      bsm_evaluation_id = #{bsmEvaluationId,jdbcType=BIGINT},
      last_evaluation_time = #{lastEvaluationTime,jdbcType=TIMESTAMP},
      remove_time = #{removeTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and company_id = #{companyId,jdbcType=BIGINT}
  </update>
</mapper>