<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.persistence.dao.BsmSupplierCatalogRelationMapper" >
  <resultMap id="BaseResultMap" type="com.demo.model.BsmSupplierCatalogRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="comp_id" property="compId" jdbcType="BIGINT" />
    <result column="catalog_id" property="catalogId" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comp_id, catalog_id, supplier_id, reserve, type, create_time, creator, update_time, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.demo.model.BsmSupplierCatalogRelationKey" >
    select 
    <include refid="Base_Column_List" />
    from bsm_supplier_catalog_relation
    where id = #{id,jdbcType=BIGINT}
      and comp_id = #{compId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.demo.model.BsmSupplierCatalogRelationKey" >
    delete from bsm_supplier_catalog_relation
    where id = #{id,jdbcType=BIGINT}
      and comp_id = #{compId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.model.BsmSupplierCatalogRelation" >
    insert into bsm_supplier_catalog_relation (id, comp_id, catalog_id, 
      supplier_id, reserve, type, 
      create_time, creator, update_time, 
      modifier)
    values (#{id,jdbcType=BIGINT}, #{compId,jdbcType=BIGINT}, #{catalogId,jdbcType=BIGINT}, 
      #{supplierId,jdbcType=BIGINT}, #{reserve,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.BsmSupplierCatalogRelation" >
    insert into bsm_supplier_catalog_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="compId != null" >
        comp_id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=BIGINT},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.BsmSupplierCatalogRelation" >
    update bsm_supplier_catalog_relation
    <set >
      <if test="catalogId != null" >
        catalog_id = #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and comp_id = #{compId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.BsmSupplierCatalogRelation" >
    update bsm_supplier_catalog_relation
    set catalog_id = #{catalogId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      reserve = #{reserve,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
      and comp_id = #{compId,jdbcType=BIGINT}
  </update>
</mapper>