<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.persistence.dao.TransactionRecordMapper" >
  <resultMap id="BaseResultMap" type="com.demo.model.TransactionRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="directory_id" property="directoryId" jdbcType="BIGINT" />
    <result column="directory_name" property="directoryName" jdbcType="VARCHAR" />
    <result column="min_price" property="minPrice" jdbcType="DECIMAL" />
    <result column="max_price" property="maxPrice" jdbcType="DECIMAL" />
    <result column="win_time" property="winTime" jdbcType="TIMESTAMP" />
    <result column="sync_time" property="syncTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.demo.model.TransactionHistoryRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="directory_id" property="directoryId" jdbcType="BIGINT" />
    <result column="directory_name" property="directoryName" jdbcType="VARCHAR" />
    <result column="deal_price" property="dealPrice" jdbcType="DECIMAL" />
    <result column="win_time" property="winTime" jdbcType="TIMESTAMP" />
    <result column="deal_amount" property="dealAmount" jdbcType="DECIMAL" />
    <result column="deal_total_price" property="dealTotalPrice" jdbcType="DECIMAL" />
    <result column="sync_time" property="syncTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, project_name, company_id, supplier_id, supplier_name, directory_id, 
    min_price, max_price, win_time, sync_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from transaction_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from transaction_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.model.TransactionRecord" >
    insert into transaction_record (id, project_id, project_name, 
      company_id, supplier_id, supplier_name, 
      directory_id, min_price, max_price, 
      win_time, sync_time)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, #{supplierName,jdbcType=VARCHAR}, 
      #{directoryId,jdbcType=BIGINT}, #{minPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, 
      #{winTime,jdbcType=TIMESTAMP}, #{syncTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.TransactionRecord" >
    insert into transaction_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="directoryId != null" >
        directory_id,
      </if>
      <if test="minPrice != null" >
        min_price,
      </if>
      <if test="maxPrice != null" >
        max_price,
      </if>
      <if test="winTime != null" >
        win_time,
      </if>
      <if test="syncTime != null" >
        sync_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="directoryId != null" >
        #{directoryId,jdbcType=BIGINT},
      </if>
      <if test="minPrice != null" >
        #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="winTime != null" >
        #{winTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncTime != null" >
        #{syncTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.TransactionRecord" >
    update transaction_record
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="directoryId != null" >
        directory_id = #{directoryId,jdbcType=BIGINT},
      </if>
      <if test="minPrice != null" >
        min_price = #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="winTime != null" >
        win_time = #{winTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncTime != null" >
        sync_time = #{syncTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.TransactionRecord" >
    update transaction_record
    set project_id = #{projectId,jdbcType=BIGINT},
      project_name = #{projectName,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      directory_id = #{directoryId,jdbcType=BIGINT},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      win_time = #{winTime,jdbcType=TIMESTAMP},
      sync_time = #{syncTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selMaxAndMinPrice" resultMap="BaseResultMap">
    SELECT
      bspb.project_id,
      bp.name project_name,
      bspb.comp_id company_id,
      bspb.supplier_id,
      bspb.supplier_name,
      bspib.directory_id,
      cd.name directory_name,
      bspib.win_bid_time win_time,
      min(bspib.bid_price) min_price,
      max(bspib.bid_price) max_price
    FROM
      bmpfjz_supplier_project_bid bspb
        LEFT JOIN bmpfjz_supplier_project_item_bid bspib ON bspb.supplier_id = bspib.supplier_id
        AND bspb.project_id = bspib.project_id
        AND bspb.id = bspib.supplier_project_bid_id
        left join bmpfjz_project bp on bspb.project_id = bp.id
        left join corp_directorys cd on bspib.directory_id = cd.ID
    WHERE
      bspb.supplier_bid_status = 6
      AND bspib.directory_id = #{directoryId}
      AND bspb.supplier_id = #{supplierId}
      <if test="syncTime != null">
         AND  bspib.win_bid_time > #{syncTime}
      </if>
    ORDER BY
      bspib.win_bid_time DESC
  </select>
  <select id="selQuotationHistory" resultMap="BaseResultMap2">
    SELECT
    bspb.project_id,
    bp.name project_name,
    bspb.comp_id company_id,
    bspb.supplier_id,
    bspb.supplier_name,
    bspib.directory_id,
    cd.name directory_name,
    bspib.bid_price deal_price,
    bspib.win_bid_time win_time,
    bspib.deal_amount,
    bspib.deal_total_price
    FROM
    bmpfjz_supplier_project_bid bspb
    LEFT JOIN bmpfjz_supplier_project_item_bid bspib ON bspb.supplier_id = bspib.supplier_id
    AND bspb.project_id = bspib.project_id
    AND bspb.id = bspib.supplier_project_bid_id
    left join bmpfjz_project bp on bspb.project_id = bp.id
    left join corp_directorys cd on bspib.directory_id = cd.ID
    WHERE
    bspb.supplier_bid_status = 6
    AND bspib.directory_id = #{directoryId}
    AND bspb.supplier_id = #{supplierId}
    <if test="syncTime != null">
      AND  bspib.win_bid_time > #{syncTime}
    </if>
    ORDER BY
    bspib.win_bid_time DESC
  </select>

</mapper>